<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="head">
		<%if logged_in?%>
			<%=current_user.username%>
			<%=link_to 'LogOut', session_path(current_user), method: :delete%>
			<%=link_to 'New Article', new_article_path%>
		<%else%>
			<%=link_to 'Log In', new_session_path%>
			<%=link_to 'Sign Up', new_user_path%>
		<%end%>
	</div>
<div id="container">
	<%=yield %>
</div>
</body>
</html>
